body {
	background: #1F1F1F;
	color: #eaeaea;
	margin: 3%;
	font-size: 120%;
	font-family: sans-serif;
	line-height: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    background-color: #53e7a4;
    color: #1F1F1F;
    padding: 10px;
}

a {
	color: #53e7a4;
}

a:visited {
	color: #5d9c73;
}

p {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}

figure > image {
	display: block;
}

figcaption {
	color: #aaaaaa;
	display: block;
}